<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FairPlay Optic Blog | {% block title %}{% endblock %}</title>

    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{{asset('css/style.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path ('homepage') }}">FairPlay Optic Blog</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('article_index') }}">Tous les articles</a>
                    </li>
                    <li>
                        <a href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
                <!-- Login, Logout, Register links -->
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a href="{{ path('article_new') }}">Ajouter un article</a>
                        </li>
                         <li>
                            <a href="{{ path('user_index') }}">Mon compte</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item"><a href="{{path('fos_user_security_logout')}}">Déconnexion</a></li>

                    {% else %}

                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item"><a href="{{path('fos_user_security_login')}}">SE CONNECTER</a></li>

                        <li><a href="{{path('fos_user_registration_register')}}">S'ENREGISTRER</button></a></li>

                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container -->

    </nav>

    <!-- Page Content -->
    <div class="container">

        {# FlashBag #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{label}}">{{message}}</div>
            {% endfor %}
        {% endfor %}
        {# / end FlashBag #}

        {% block body %}{% endblock %}  

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2017</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    {% block javascripts %}{% endblock %}

</body>

</html>
